<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class = "container mt-4">
        <table class = "table">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>TELEFONO</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="persona:${personas}">
                <td>${personas.id}</td>
                <td>${personas.name}</td>
                <td>${personas.phone}</td>
                <td>${personas.id}</td>
                <a class="btn btn-warning">Editar</a>
                <a class="btn btn-danger">Eliminar</a>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>